USE [master]
GO
/****** Object:  Database [Studenti]    Script Date: 23.1.2013. 23:16:47 ******/
CREATE DATABASE [Studenti]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Studenti', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Studenti.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Studenti_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Studenti_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Studenti].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Studenti]
GO
/****** Object:  Table [dbo].[Predmet]    Script Date: 23.1.2013. 23:16:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predmet](
	[PredmetID] [int] NOT NULL,
	[Naziv] [nvarchar](20) NOT NULL,
	[Profesor] [nvarchar](35) NOT NULL,
 CONSTRAINT [PK_Predmet] PRIMARY KEY CLUSTERED 
(
	[PredmetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prijava]    Script Date: 23.1.2013. 23:16:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prijava](
	[PredmetID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[Ocena] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Smer]    Script Date: 23.1.2013. 23:16:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Smer](
	[SmerID] [int] NOT NULL,
	[Naziv] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Smer] PRIMARY KEY CLUSTERED 
(
	[SmerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 23.1.2013. 23:16:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentID] [int] NOT NULL,
	[Ime] [nvarchar](15) NOT NULL,
	[Prezime] [nvarchar](20) NOT NULL,
	[GodinaUpisa] [smallint] NOT NULL,
	[DatumRodjenja] [nvarchar](10) NOT NULL,
	[Skolarina] [real] NOT NULL,
	[Prosek] [real] NULL,
	[SmerID] [int] NOT NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY NONCLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Index [IX_Prijava]    Script Date: 23.1.2013. 23:16:47 ******/
CREATE NONCLUSTERED INDEX [IX_Prijava] ON [dbo].[Prijava]
(
	[PredmetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prijava]  WITH CHECK ADD  CONSTRAINT [FK_Prijava_Predmet] FOREIGN KEY([PredmetID])
REFERENCES [dbo].[Predmet] ([PredmetID])
GO
ALTER TABLE [dbo].[Prijava] CHECK CONSTRAINT [FK_Prijava_Predmet]
GO
ALTER TABLE [dbo].[Prijava]  WITH CHECK ADD  CONSTRAINT [FK_Prijava_Student] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([StudentID])
GO
ALTER TABLE [dbo].[Prijava] CHECK CONSTRAINT [FK_Prijava_Student]
GO
ALTER TABLE [dbo].[Student]  WITH NOCHECK ADD  CONSTRAINT [FK_Student_Smer] FOREIGN KEY([SmerID])
REFERENCES [dbo].[Smer] ([SmerID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Smer]
GO
USE [master]
GO
